/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

body,
html {
  height: 100%;
  margin: 0;
}

.back-image {
  /* The image used */
  background-image: url("./assets/Images/soccer-football-stadium.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.table-img {
  width: 75%;
  height: 30px;
}

.link-active {
  color: blue;
  text-decoration: underline;
}

.nav-link {
  cursor: pointer;
}

.border-table {
  border-radius: 25px;
}